.idea
backups
blueprints
Distant_Horizons_server_data
downloads
local
localconfigs
logs
patchouli_books
profileImage
saves
schematics
temp
trees
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
.curseclient
minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json